{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body background="{% static 'images/banner-bg.png' %}">
    	<!-- header section start -->
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GameBook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'txtmypc' %}">Test My Pc</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Others 
          </a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" href="{% url 'games' %}">Games</a></li>
            <li><a class="dropdown-item" href="{% url 'store' %}">Gaming Store</a></li>
            <li><a class="dropdown-item" href="{% url 'onlinegames' %}">Online Games</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account' %}" aria-enabled="true">How Many?</a>
        </li>
      </ul>
      <form method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="text" name="query" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="price_text text-center mb-2 mt-1">
    <span class="text"  style="color: #f7f7f7;" >User</span>
    <span  class="text"  style="color: #f7f7f7 ;">Account</span>
    </div>
    <br>
    <div class="container">
      <table class="table text-white table-hover">
        <thead>
          <tr>
            <th scope="col">No:</th>
            <th scope="col">username</th>
            <th scope="col">Email_Id</th>
            <th scope="col">Alter</th>
          </tr>
        </thead>
        <tbody>
          {% for data in data %}
          <tr>
            <th scope="row">*</th>
            <td class="align-middle"><h5 class="card-title">{{data.username}}</h5></td> 
            <td class="align-middle"><h5 class="card-title">{{data.email_id}}</h5></td>
            <td class="align-middle"><h5 class="card-title"><a style="text-decoration: none;" href="{% url 'edit' data.id %}">Edit</a> /</td>
               
          </tr>
          {% endfor %}
        </tbody>
      </table>   
  </div>

  <a class="p-5" href="{% url 'userlogin' %}">test userlogin</a>



</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>