{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body background="{% static 'images/banner-bg.png' %}">
   <div class="container text-center">	
  <h1 class="text-white">GameBook</h1><br>
  <div class="container-fluid text-white">
    <h4>Sign up to see games and stores <br> from your gamebook.</h4><br>
    <a href=""><button img   src="{% static 'images/icons8-google-48.png' %}" type="button" class="btn btn-outline-info">Log in with google</button>
       </a>
    <span style="color: rgb(255, 255, 255)"><hr></span>
    <br>
    <form action="/sign_up" class="text-center"  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table">
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Full Name</strong></label>
            </td>
            <td><input type="text" name="firstname" placeholder="name" class="form-control" id="validationCustom01"  required></td>
        </tr>
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Email Id</strong></label>
            </td>
            <td><input type="email" name="emailid" placeholder="email" class="form-control" id="validationCustom01"  required></td>
        </tr>
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Phone No</strong></label>
            </td>
            <td><input type="text" maxlength="10" name="phoneno" placeholder="Phone number" class="form-control" id="validationCustom01"  required></td>
        </tr>
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Username</strong></label>
            </td>
            <td><input type="text" name="username" placeholder="username" class="form-control" id="validationCustom01"  required></td>
        </tr>
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Password</strong></label>
            </td>
            <td><input type="password" name="password" placeholder="password" class="form-control" id="validationCustom01"  required></td>
        </tr>
        <tr>
          <td><label for="validationCustom01" class="form-label fs-5"><strong>Conform Password</strong></label>
            </td>
          <td><input type="password" name="password1" placeholder="password" class="form-control" id="validationCustom01"  required></td>
      </table>
      <div class="text-center">
       <a class="p-3" href="{% url 'userlogin' %}"> <button class="btn btn-outline-info" type="button">sign in</button></a>
       <button class="btn btn-outline-info" type="submit">sign up</button>
      </div>
    </form>
  </div>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>